h1{
    color: red;
    text-align: right;
}

div{
    background-color: burlywood;
    width: 500px;
    height: 300px;
    text-align: center;
}

div p{
    color: blue;
}

div button{
    cursor: pointer;
    background-color: red;
}

div button:hover{
    background-color: blue;
    color: white;
}